.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;

    background-color: #00000040;
   
    justify-content: center;
    align-items: center;
    z-index: 6;



}

.ativa-modal {
    display: none;
}

.modal-post {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 40px 24px;
    margin-top: 5%;

    position: sticky;
    width: 50%;
    height: 80vh;

    background-color: #FFFFFF;
    border-radius: 8px;
    z-index: 4;

}

.modal-post button {
    height: 40%;
    width: 8%;
    border-radius: 3rem;
    border: transparent;
    background-color: var(--color-grey-4);
    cursor: pointer;
}

.modal-post .conteudo-post h3 {
    font-size: var(--font-size-28);
}

.modal-post .conteudo-post p {
    font-size: var(--font-size-16);
}

.usuario-header {
    display: flex;
    gap: 5%;
    width: 100%;
    margin: 0 0 8%;
}

.usuario-header img {
    width: 10%;
}

.conteudo-post {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    max-width: 100%;
    max-height: 70%;
    gap: 10%;
}
.header-modal{
    display: flex;
}


@media(max-width:375px) {
    .modal {
        width: 100%;
        height: 100%;
    }

    .modal-post {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 17px 7px;

        position: fixed;
        width: 70%;
        height: 50vh;
        

        background-color: #FFFFFF;
        border-radius: 8px;
    }
    .modal-post .conteudo-post h3 {
        font-size: var(--font-size-12);
    }
    .modal-post .conteudo-post p {
        font-size: var(--font-size-10);
    }
    .usuario-header .name{
        font-size: var(--font-size-12);
    }
    .conteudo-post{
        gap: 20px;
    }
    .header-modal{
        display: flex;
    }
    .modal-post button {
        height: 30%;
        width: 8%;
        border-radius: 3rem;
        border: transparent;
        background-color: var(--color-grey-4);
        cursor: pointer;
    }

}