.navbar{
    background-color: var(--color-white-fixed);
    padding: 1.75rem 0;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    
    position: absolute;
    width: 421px;
    height: 363px;
    left: 940px;
    top: 134px;
    
   
}

.navbar-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 144px;
    margin: 30px 0;
    padding: 0.25rem;
}

.navbar-links{
    display: flex;
    gap: 1rem;
}
.by-user{
    display: flex;
}

.navbar-link{
    background-color: transparent;
    color: var(--color-grey-1);
    height: 2rem;
    padding: 0.5rem;
    border-radius: var(--radius-1);
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 400;
    cursor: pointer;
}

.navbar-link:hover, .navbar-link.actived{
    background-color: var(--color-grey-2);
}

