.section-posts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 52px;
    width: 80%;
    height: 1126px;
    left: 100px;
    top: 540px;
    margin-top: 5%;

}
.posts{
    width: 80%;
}

.section-posts h2 {
    font-family: var(--font-family-1);
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-size-28);
    line-height: var(--line-height-40);

    color: var(--color-grey-1);
}

@media(max-width:375px){
    .section-posts{
        width: 100%;
    }
}








